@charset "UTF-8";

/*共通部分
------------------------------------------------------*/
html {
    font-size: 100%;
}

body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER
------------------------------------------------------*/
.logo {
    width: 150px;
    margin-top: 15px;
}

#header {
    /*fixedで上部固定*/
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #002538;
    text-align: center;
    padding: 20px;
}

/*レイアウトのCSS*/
nav ul {
    font-size: 1.25rem;
    list-style: none;
    display: flex;
    justify-content: center
}

nav li {
    margin-left: 36px;
}

nav ul li a {
    text-decoration: none;
    color: #b4aca4;
    padding: 10px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}

/*HOME
------------------------------------------------------*/
.home-content {
    color: #fff;
    font-size: 1.5rem;
    padding: 150px 200px;
    text-align: left;
}

/* 見出し */
.page-title {
    font-family: 'Philosopher', serif;
    margin-bottom: 15px;
}

/*本文*/
.home-content p {
    line-height: 40px;
}

/* 背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    position: relative;
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

/*lead
------------------------------------------------------*/
#message {
    background: #b4aca4;
    position: relative;
    padding: 100px;
}

.message-img {
    background: url(../images/home3.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.message-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.message-content {
    text-align: center;
    color: #002538;
    padding-left: 150px;
}

.message-box h2 {
    font-size: 1.3rem;
}

.message-box p {
    font-size: 1rem;
    margin: 15px 0 0 0 ;
}