@charset "UTF-8";

/*共通部分
------------------------------------------------------*/
html {
    font-size: 100%;
}

body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #002538;
    background: #b4aca4;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER
------------------------------------------------------*/
.logo {
    width: 130px;
    margin-top: 15px;
}

#header {
    /*fixedで上部固定*/
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #002538;
    padding: 20px;
}

.openbtn {
    display: none;
}

.main-nav {
    display: block;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav li a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.25rem;
    color: #fff;
}

#g-nav-list {
    display: none;
}

#g-nav {
    display: block;
}

#g-nav ul {
    list-style: none;
    font-size: 1.25rem;    
}

#g-nav li a {
    display: block;
    text-decoration: none;
    color: #002538;
    padding: 10px 36px;
}

/*HOME
------------------------------------------------------*/
.home-content {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 150px;
    margin-left: 150px;
    text-align: left;
}

/* 見出し */
.page-title {
    font-family: 'Philosopher', serif;
    margin-bottom: 15px;
}

/*本文*/
.home-content p {
    line-height: 40px;
}

/* 背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home {
    position: relative;
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

/*message
------------------------------------------------------*/
#message {
    position: relative;
    padding: 100px 100px 0px 100px;
}

.message-img {
    background: url(../images/home3.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.message-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.message-content {
    text-align: center;
    padding-left: 15%;
}

.message-box h2 {
    font-size: 1.5rem;
}

.message-box p {
    font-size: 1.25rem;
    margin: 30px 0 0 0;
}

/*workspace
------------------------------------------------------*/
#workspace {
    position: relative;
    padding: 100px;
}

.workspace-img {
    background: url(../images/home2.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.workspace-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.workspace-content {
    text-align: center;
    padding-right: 15%;
}

.workspace-box h2 {
    font-size: 1.5rem;
}

.workspace-box p {
    font-size: 1.25rem;
    margin: 30px 0 0 0;
}

/*footer
------------------------------------------------------*/
#footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;  
    line-height: 1.85;  
}

.footer-r {
    width: 70%;
    padding: 40px;
    background: #002538;
    color: #fff;
}

.map-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 100px 0;
}

.map-area h2 {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.3rem;
    width: 10%;
    height: 10em;
    letter-spacing: 0.3em;
    text-align: center;
}

.map-address {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-address-area address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

.btn {
    border: 1px solid #fff;
    padding: 12px 40px;
    color: #fff;
}

.map-block {
    width: 50%;
}

.iframe-area {
    position: relative;
    padding-bottom: 51.65%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.footer-l {
    width: 30%;
    background: #ab6333;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    height: 40vh;
}

.footer-contact-area p {
    padding-top: 30px;
}

#copyright {
    background: #ab6333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

small {
    font-size: 80%;
}

@media (max-width: 600px) {
/*header
------------------------------------------------------*/
    .openbtn {
        display: block;
        position: fixed;
        z-index: 9999;
        cursor: pointer;
        top: 15px;
        right: 15px;
        width: 70px;
        height: 70px;
        border: 1px solid #fff;
        background: #ab6333;
    }

    .openbtn span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
    }

    .openbtn span:nth-of-type(1), 
    .openbtn span:nth-of-type(3) {
        height: 1px;
        background: #fff;
        width: 50px;
        left: 10px;
    }

    .openbtn span:nth-of-type(1) {
        top: 15px;
    }

    .openbtn span:nth-of-type(2) {
        top: 22px;
        left: 10px;
        font-size: 1rem;
        color: #fff;
    }

    .openbtn span:nth-of-type(3) {
        top: 53px;
    }

/*activeクラスが付与されるとMENUがｘになる
------------------------------------------------------*/
    .openbtn.active span:nth-of-type(1) {
        top: 27px;
        left: 16px;
        transform: translateY(6px) rotate(-45deg);
        width: 60%;
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn.active span:nth-of-type(3) {
        top: 39px;
        left: 14px;
        transform: translateY(-6px) rotate(45deg);
        width: 60%;
    }

/*ナビゲーション
------------------------------------------------------*/
    .main-nav {
        display: none;
    }

    #g-nav.panelactive{
        width:100%;
        height: 100vh;
    }
    
    /*丸の拡大*/
    .circle-bg{
        position: fixed;
        z-index:3;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background:#ab6333;
        transform: scale(0);
        bottom:-50px;
        left:calc(50% - 50px);
        transition: all .6s;
    }
    
    .circle-bg.circleactive{
        transform: scale(50);
    }
    
    /*ナビゲーションの縦スクロール*/
    #g-nav-list{
        position: fixed;
        z-index: 999; 
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    #g-nav.panelactive #g-nav-list{
         display: block; 
    }
    
    /*ナビゲーション*/
    #g-nav ul {
        opacity: 0;
        position: absolute;
        z-index: 999;
        top:40%;
        left:50%;
        transform: translate(-50%,-40%);
    }
    
    #g-nav.panelactive ul {
        opacity:1;
    }
    
    #g-nav.panelactive ul li{
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
   
    
    @keyframes gnaviAnime{
    0% {
    opacity: 0;
    transform: translateY(100px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
    }
    
    .home-content {
        font-size: 1.25rem;
        margin-left: 10px;
    }


}

@media (max-width: 1400px) {
/*#message
------------------------------------------------------*/
    #message {
        padding: 60px 150px;
    }

    .message-img {
        height: 60vh;
        width: 100%;
        background-size: cover;
    }

    .message-box {
        display: block;
    }

    .message-box h2 {
        margin-top: 30px;
    }

    .message-content {
        width: 100%;
        padding: 0;
    }
/*workspace
------------------------------------------------------*/
    #workspace {
        padding: 60px 150px;
    }

    .workspace-img {
        height: 60vh;
        width: 100%;
        background-size: cover;
    }

    .workspace-box {
        display: block;
    }

    .workspace-box h2 {
        margin-top: 30px;
    }

    .workspace-content {
        width: 100%;
        padding: 0;
    }

/*#footer
------------------------------------------------------*/
    .footer-r {
        width: 100%;
    }

    .map-area h2 {
        width: 5%;
    }

    .footer-l {
        width: 100%;
    }

    .footer-contact {
        height: inherit;
        padding: 40px 0;
    }
    #copyright {
        height: inherit;
        padding: 40px 0;
    }

}

@media screen and (max-width: 780px) {
/*#message
------------------------------------------------------*/
    #message {
        padding: 60px 30px;
    }

    .message-img {
        height: 40vh;
    }
/*workspace
------------------------------------------------------*/
    #workspace {
        padding: 60px 30px;
    }

    .workspace-img {
        height: 40vh;
    }
/*#footer
------------------------------------------------------*/
    .footer-r {
        padding: 80px 30px;
    }

    .map-area {
        margin: 0;
    }

    .map-area h2 {
        width: 100%;
        height: inherit;
        margin: 0 0 50px 0;
        -ms-writing-mode: lr-tb;
        -webkit-writing-mode: horizontal tb;
        writing-mode: horizontal-tb;
    }

    .map-address {
        width: 48%;
    }
}
